.mainNavbar {
    background: #003580;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: space-around;
}

#logo {
    font-weight: bold;
    font-size: 1.8rem;
    font-family: "Century Gothic", sans-serif;
    color: white;
}

#dot-com {
    color: #0896FF;
}
