.homeContainer {
    display: flex;
    justify-content: center;

}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
    width: 25em;

    border-radius: 7em;
}

.landingView {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 10% 15%;
    display: flex;
    border: 1px;
    border-radius: 1rem;
}

#login{
    margin-top: 1em;
    border-radius: 2em;
}
.ui.button.login-btn {
background: #0071c2;
    color: #EEEEEE;
}
.home-grid {
    padding: 4rem;
    width: 50%;
    height: 30rem;
}

.searchText {
    text-align: left;
    font-size: 2.5rem;
    line-height: 26pt;
    padding: 2rem;
}

.searchGrid {
    background: #0071c2;
    color: white;
    border-radius: 3rem 0 0 3rem;
}

.imageGrid {
    background-image: url(../../../assets/bck.jpg);
    border-radius: 0rem 3rem 3rem 0;
    background-position: center;
    background-size: cover;
}